{{#data}}
<li class="link-item clearfix">
  <span class="rank">{{id}}</span>
  <div class="vote-block text-muted">
    <i class="fa fa-angle-up"></i>
    <div class="score">{{votes}}</div>
    <i class="fa fa-angle-down"></i>
  </div>
  <a class="link-thumb" href="{{url}}" target="_blank">
    <img src="{{thumbnail}}">
  </a>
  <div class="link-summary">
    <p>
      <a class="title" href="{{url}}" target="_blank">{{title}}</a>
      <span class="domain">(<a href="/domain/{{domain}}">{{domain}}</a>)</span>
    </p>
    <p class="link-date text-muted">
      submitted
      <time title="{{timestamp}}" datetime="{{timestamp}}">
        {{timestamp}}
      </time>
      by
      <a data-href="/user/{{creator.id}}">{{creator.username}}</a>
    </p>
    <ul class="link-tags">
      {{#tags}}
      <li><a data-href="/tags/{{.}}" class="label label-default">{{.}}</a></li>
      {{/tags}}
    </ul>
    <ul class="link-meta">
      <li>
        <a data-href="/link/{{comments}}"><i class="fa fa-comment-o"></i> {{comments}} comments</a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-share-square-o"></i> share</a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-save"></i> save</a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-hand-stop-o"></i> report</a>
      </li>
    </ul>
  </div>
</li>
{{/data}}